<div class="container">
  <div class="search-container">
    <p>Github User Search</p>
    <div>
      <div class="error">{{message}}</div>
      <input
        #searchInput
        class="search"
        type="input"
        placeholder="검색하고 싶은 사용자 아이디를 입력 후 클릭해주세요."
      />
      <div *ngIf="isLoading">loading..</div>
      <ul class="suggest-layer">
        <li *ngFor="let user of users" class="user" (click)="selectUser(user.login, user.avatar_url, user.html_url)">
          {{ user.login }}
        </li>
      </ul>
    </div>
  </div>
  <div class="profile-container">
    <img [src]="selectedUser?.avatar_url" />
    <p>
      <a [href]="selectedUser?.html_url" target="_blank">{{ selectedUser?.login }}</a>
    </p>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->
